@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  /* font-family: "Poppins", sans-serif; */
  overflow-x: hidden;
  background-color: rgb(46, 58, 51);
}

html {
  font-size: 80%; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* font-family: "Lato",sans-serif; */
  /* font-weight: 400;
  font-size: 16px; */
  line-height: 1.7;
  color: #777;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #55c57a;
  color: white; }
